@inherits LayoutComponentBase
@* @rendermode InteractiveServer *@
<RadzenLayout>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenAppearanceToggle/>
    </RadzenFooter>
</RadzenLayout>