@using EM.Components.Account.Shared
@using EM.Components.Layout
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(LoginLayout)">
            <NotAuthorized>
                <RedirectToLogin/>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(LoginLayout)">
            <p>Lo siento, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router>