@using EM.Components.Account.Shared
@using EM.Components.Layout
@rendermode InteractiveServer
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
            <NotAuthorized>
                @* <RedirectToLogin/> *@
                <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                    <RadzenColumn Style="text-align: center">
                        <h1 class="text-danger">403</h1>
                        <p class="text-danger">No tienes acceso a esta pagina.</p>
                    </RadzenColumn>
                </RadzenRow>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MainLayout)">
            <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <RadzenColumn Style="text-align: center">
                    <h1>404</h1>
                    <p>Lo siento, no hay nada en esta dirección.</p>
                </RadzenColumn>
            </RadzenRow>
        </LayoutView>
    </NotFound>
</Router>