@page "/Utilerias"
@rendermode InteractiveServer
@inject IUtileriaRepositorio UtileriasRepositorio
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Utilerías</PageTitle>

<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
    <h3>Utilerías</h3>
    <RadzenButton Size="ButtonSize.Medium" Variant="Variant.Outlined" class="rz-info" ButtonType="ButtonType.Button"
                  Icon="add" Text="Crear"
                  Click='() => { NavigationManager.NavigateTo("/Utilerias/Crear"); }'/>
</RadzenRow>
<br/>
<RadzenDataGrid TItem="Utileria" AllowPaging="true" PageSize="10" Data="@_utilerias">
    <Columns>
        <RadzenDataGridColumn TItem="Utileria" Property="Id" Title="ID"/>
        <RadzenDataGridColumn TItem="Utileria" Property="Cantidad" Title="Cantidad"/>
        <RadzenDataGridColumn TItem="Utileria" Title="Tipo">
            <Template Context="utileria">
                <RadzenLabel>@utileria?.Tipo?.Descripcion </RadzenLabel>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Utileria" Title="Marca">
            <Template Context="utileria">
                <RadzenLabel>@utileria?.Marca?.Descripcion </RadzenLabel>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Utileria" Title="Opciones">
            <Template Context="utileria">
                <RadzenButton Variant="Variant.Outlined" class="rz-info" ButtonType="ButtonType.Button" Icon="edit"
                              Click='() => { NavigationManager.NavigateTo($"/Utilerias/editar/{utileria.Id}"); }'
                              Text="Editar"/>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    List<Utileria>? _utilerias;

    protected override async Task OnInitializedAsync()
    {
        _utilerias = await UtileriasRepositorio.Get();
    }

}