@page "/Atletas"
@inject IAtletaRepositorio AtletaRepositorio
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Atletas</PageTitle>


<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
    <h3>Atleta</h3>
    <RadzenButton Variant="Variant.Outlined" class="rz-info" ButtonType="ButtonType.Button" Size="ButtonSize.Medium"
                  Icon="add" Text="Crear" Click='() => { NavigationManager.NavigateTo("/Atletas/Crear"); }'/>
</RadzenRow>
<br/>
<RadzenDataGrid TItem="Atleta" AllowPaging="true" PageSize="10" Data="@atletas">
    <Columns>
        <RadzenDataGridColumn TItem="Atleta" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="Atleta" Title="Nombre">
            <Template Context="atleta">
                <RadzenLabel>@atleta.Persona.Nombre @atleta.Persona.Apellido</RadzenLabel>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Atleta" Title="Diciplina">
            <Template Context="atleta">
                <RadzenLabel>@atleta.Disciplinas.Descripcion </RadzenLabel>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Atleta" Property="Peso" Title="Peso" />
        <RadzenDataGridColumn TItem="Atleta" Property="Altura" Title="Altura" />
        <RadzenDataGridColumn TItem="Atleta" Title="Opciones">
            <Template Context="atleta">
                <RadzenButton Variant="Variant.Outlined" class="rz-info" ButtonType="ButtonType.Button" Icon="edit"
                              Click='() => { NavigationManager.NavigateTo($"/atletas/editar/{atleta.Id}"); }'
                              Text="Editar"/>
                <RadzenButton Variant="Variant.Outlined" class="rz-warning" ButtonType="ButtonType.Button"
                              Icon="feedback"
                              Click='() => { NavigationManager.NavigateTo($"/atletas/Detalles/{atleta.Id}"); }'
                              Text="Detalles"/>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    List<Atleta> atletas = [];
    
    protected override async Task OnInitializedAsync()
    {
        atletas = await AtletaRepositorio.Get();
    }
}